.header{
    text-align: center;
    margin: 20px;
    height: 25vh; 
}

.content{
   margin: 20px;
}

/* --- Log --- */

.log{
    width: 50%;
    margin: 0 auto;

    height: 40vh; 
    padding: 0px;
    overflow: auto;
}

/* --- Form --- */

.form{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 0px;
}
.form .row{


}
.form textarea{
    height: 100%;
    resize: none;
}
.form button{
    height: 65px;
}
