.header{
    text-align: center;
    margin: 20px;
}

.content{
   margin: 20px;
}

/* --- Log --- */

.log{
    width: 50%;
    margin: 0 auto;

    height: 700px;
    padding: 0px;
    overflow: auto;
}

/* --- Form --- */

.form{
    width: 50%;
    margin: 0 auto;
}
.form .row{


}
.form textarea{
    height: 100%;
    resize: none;
}
.form button{
    height: 65px;
}
